body {
    background-color: lightblue
}
h1 {
color: navy
       
}
h1 {
font-family:cursive   
    
}
.divtable {
color: darkgreen
}
h4 {
font-family: sans-serif    
}
.divlist {
font-family: sans-serif    
    
}

.divopener {
 color: orangered
    
}







